<header>
<div class="cust">
    <div class="cont">
        <div class="image"></div>
        <div class="name">Shouib Issam</div>
        <div class="desc">Web developer & designer</div>
        <br>
        <button type="button" class="btn btn-outline-dark">Contact us</button>

    </div>
</div>
</header>
<main>
<section>
    <div class="about-me">
        <h3>About Me</h3>
    </div>
    <div class="descw2">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus corporis reprehenderit, debitis tenetur, nobis dolorem modi dolores error aperiam illo et laudantium eos maiores. Sint iusto natus odio aperiam delectus?
        <div class="button">
            <!-- <button type="button" class="btn btn-dark">Download Cv</button> -->
            <a href="./assets/shoueb cv.pdf" class="btn btn-dark" download>Download Cv</a>
        </div>
    </div>
</section>
<div class="section2">
      <div class="tit">
          <h1>Skills</h1>
      </div>
       <div class="desc3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nam modi fugit earum odit, veritatis aperiam aut neque magni officia accusamus, ullam officiis? Impedit voluptate tempore, blanditiis sunt dolore fugiat!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus praesentium provident nam similique perferendis voluptate quae ipsa, fugiat dolore? Dolor corporis molestias impedit ut vitae laborum maxime, ipsum odio harum.     
        </div>
      <div class="skill">
              <div class="myfocus">
                  <h3>My Focus</h3>
                  <hr>
                  <p>UI/UX Design</p>
                  <p>Responsive Design</p>
                  <p>Web Design</p>
                  <p>Mobile App Design</p>
              </div>
              <div class="exp">
                  <div class="Html"><div class="att">Html</div><div class="prsin"></div></div>
                  <div class="css"><div class="att2">CSS</div><div class="prsin2"></div></div>
                  <div class="javascript"><div class="att3">Javascript</div><div class="prsin3"></div></div>
                  <div class="React"><div class="att4">React</div><div class="prsin4"></div></div>
                  <div class="node_js"><div class="att5">Node Js</div><div class="prsin5"></div></div>
                  <div class="wordpress"><div class="att6">wordpress</div><div class="prsin6"></div></div>
              </div>
      </div>
    </div>
    <div class="secton3">
           <h1>Portflio</h1>
           <div class="cont4">
            <div class="card text-white bg-secondary mb-3 dit" style="max-width: 18rem;">
                <div class="card-body child">
                  <h5 class="card-title">WEB DESIGN</h5>
            
                </div>
              </div>
              <div class="card text-white bg-dark mb-3 dit" style="max-width: 18rem;">
                <div class="card-body child">
                  <h5 class="card-title">MOBILE DESIGN</h5>
                  
                </div>
              </div>
              <div class="card text-white bg-secondary mb-3 dit" style="max-width: 18rem;">
                <div class="card-body child">
                  <h5 class="card-title">LOGO DESIGN</h5>
                  
                </div>
           </div>
           <div class="cont5">
            <div class="card text-white bg-dark mb-3 dit" style="max-width: 18rem;">
                <div class="card-body child">
                  <h5 class="card-title">WEB APPLICATION DEVELOPMENT</h5>
                  
                </div>
              </div>
              <div class="card text-white bg-secondary mb-3 dit" style="max-width: 18rem;">
                <div class="card-body child">
                  <h5 class="card-title">MOBILE APPLICATION DEVELOPMENT</h5>
                  
                </div>
           </div>
           <div class="card text-white bg-dark mb-3 dit" style="max-width: 18rem;">
            <div class="card-body child">
              <h5 class="card-title">PWA DEVELOPMENT</h5>
              
            </div>
          </div> 
    </div>
   </div>
 </div>
 </main>
 <footer>
     <div class="details">
         <div class="email">
             <h3>GET IN TOUCH</h3>
             <h4><a href="mailto:Shouibelnoby22@gmail.com"><i class="fas fa-envelope"></i>Shouibelnoby22@gmail.com</a></h4>
             <h4><a href="tel:01013543957"><i class="fas fa-phone"></i>01013543957</a></h4>
         </div>
         <div class="button">
            <button type="button" class="btn btn-outline-success">Contact Us</button>
        </div>
        <div class="email">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i><br>
            <h5>Copy right &copy; 2019 KR</h5>
        </div>
     </div>
 </footer>   
